<svg viewBox="0 0 100 100">
  <ng-container *ngFor="let drawingPart of drawingParts">
    <polygon
      *ngFor="let triangle of drawingPart.triangleIndices"
      stroke="none"
      [attr.fill]="drawingPart.colorFunction(centroid(drawingPart.triangleVertices, triangle))"
      [attr.points]="
        drawingPart.triangleVertices[triangle[0]][0] +
        ',' +
        drawingPart.triangleVertices[triangle[0]][1] +
        ' ' +
        drawingPart.triangleVertices[triangle[1]][0] +
        ',' +
        drawingPart.triangleVertices[triangle[1]][1] +
        ' ' +
        drawingPart.triangleVertices[triangle[2]][0] +
        ',' +
        drawingPart.triangleVertices[triangle[2]][1]
      "
    ></polygon>
  </ng-container>
  <text *ngIf="drawingParts.length === 0" x="50" y="50">?</text>
</svg>
