<svg viewBox="0 0 100 100">
  <ng-container *ngFor="let drawingPart of drawingParts">
    <polygon
      *ngFor="let triangle of drawingPart.triangleIndices"
      stroke="none"
      [attr.fill]="
        drawingPart.colorFunction(
          centroid(drawingPart.triangleVertices, triangle)
        )
      "
      [attr.points]="
        drawingPart.triangleVertices[triangle[0]][0] +
        ',' +
        drawingPart.triangleVertices[triangle[0]][1] +
        ' ' +
        drawingPart.triangleVertices[triangle[1]][0] +
        ',' +
        drawingPart.triangleVertices[triangle[1]][1] +
        ' ' +
        drawingPart.triangleVertices[triangle[2]][0] +
        ',' +
        drawingPart.triangleVertices[triangle[2]][1]
      "
    ></polygon>
    <line
      *ngFor="let edge of edges"
      [attr.x1]="drawingPart.triangleVertices[edge[0]][0]"
      [attr.x2]="drawingPart.triangleVertices[edge[1]][0]"
      [attr.y1]="drawingPart.triangleVertices[edge[0]][1]"
      [attr.y2]="drawingPart.triangleVertices[edge[1]][1]"
      stroke-linecap="butt"
      [attr.stroke]="getEdgeColor(edge)"
      stroke-width="0.2%"
    />
  </ng-container>
  <text *ngIf="drawingParts.length === 0" x="50" y="50">?</text>
</svg>
