<svg viewBox="0 0 100 100">
  <ng-container *ngFor="let drawingPart of drawingParts">
    <polygon
      *ngFor="let triangle of drawingPart.triangleIndices"
      stroke="none"
      [attr.fill]="
        drawingPart.getColor(centroid(drawingPart.vertices, triangle))
      "
      [attr.points]="
        drawingPart.vertices[triangle[0]][0] +
        ',' +
        drawingPart.vertices[triangle[0]][1] +
        ' ' +
        drawingPart.vertices[triangle[1]][0] +
        ',' +
        drawingPart.vertices[triangle[1]][1] +
        ' ' +
        drawingPart.vertices[triangle[2]][0] +
        ',' +
        drawingPart.vertices[triangle[2]][1]
      "
    ></polygon>
   <!--  <line
      *ngFor="let edge of drawingPart.edges"
      [attr.x1]="drawingPart.vertices[edge[0]][0]"
      [attr.x2]="drawingPart.vertices[edge[1]][0]"
      [attr.y1]="drawingPart.vertices[edge[0]][1]"
      [attr.y2]="drawingPart.vertices[edge[1]][1]"
      stroke-linecap="butt"
      [attr.stroke]="drawingPart.edgeColorFunction(centroid(drawingPart.vertices, edge))"
      stroke-width="0.2%"
    /> -->
  </ng-container>
  <text *ngIf="drawingParts.length === 0" x="50" y="50">?</text>
</svg>
