$card-borders: dashed 0.5px gray;

:host{
  border-left: $card-borders;
  border-top: $card-borders;
  &:nth-of-type(3n) {
    border-right: $card-borders;
  }
  &:nth-last-of-type(-n+3) {
    border-bottom: $card-borders;
  }

  .card {
    width: 64mm;
    height: 89mm;
    background: darkslategray;
    padding: 2mm;

    .card-content {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 2mm;
      background: grey;
      overflow: hidden;

      display: flex;
      flex-direction: column;

      .center-overlay {
        position: absolute;
        width: 40%;
        left: 30%;
        top: 35%;
      }
    }
  }
}
