<div class="card">
  <div class="card-content">
    <rpg-triangle-gradient [numberOfXTriangles]="5"  [numberOfYTriangles]="5" [yStretchPercentage]="75" [colorFunction]="skyColorFunction"></rpg-triangle-gradient>
    <rpg-triangle-gradient [numberOfXTriangles]="4"  [numberOfYTriangles]="3" [yStretchPercentage]="55" [colorFunction]="groundColorFunction"></rpg-triangle-gradient>
    <!-- <rpg-triangle-gradient [numberOfXTriangles]="15"  [numberOfYTriangles]="15" [yStretchPercentage]="75" [colorFunction]="skyColorFunction"></rpg-triangle-gradient>
    <rpg-triangle-gradient [numberOfXTriangles]="12"  [numberOfYTriangles]="9" [yStretchPercentage]="55" [colorFunction]="groundColorFunction"></rpg-triangle-gradient> -->
    <div class="heading">{{avatarName}}</div>

    <svg class="center-overlay">
      <polygon [attr.points]="avatarPoints" />
      
    </svg>
  </div>

</div>
