:host {

  // Angular adds a dummy tag for this component. The SVG is supposed to smartly fit 100% of its parent space;
  // But that means we would have to compute exactly the size of that dummy tag from the svg actual size...
  // This naughty kludge alleviates that fact.
  display: contents;

  svg {
    width: 100%;
    height: auto;
  }
}
