
body {
  background: #505050;
}

.page {
  width : 21cm;
  height: 29.7cm;
  background: #303030;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  page-break-after:always;
  scroll-snap-align: start;
}


